{% extends "layout.html" %} {% block content %}
<div class="main-content">
  <div class="container-fluid" style="padding-bottom: 54px">
    <div class="pos-box bgw mtb15">
      <div class="position f14 c9 pull-left">
        <a class="plr10 c4" href="/">首页</a>/<span class="plr10 c4"
          >站长工具</span
        >
      </div>
    </div>

    <div class="safe container-fluid bgw mtb15 pd15" style="overflow: hidden">
      <div class="row" id="tools-list">
      </div>
    </div>
  </div>
</div>
<script src="/static/app/tools.js?v={{config.version}}"></script>
{% endblock %}
