[Unit]
Description=geneva_https
After=network.target

[Service]
ExecStart=/www/server/mdserver-web/geneva/https_start.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
